html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.about-front {
  background: url("./img/white-radial-gradient-a5802da1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}

.nav {
  padding: 1rem;
  position: fixed;
}

.nav i {
  font-size: 3rem;
  color: #272a31;
  padding: 1rem;
}

.about-front-body {
  padding: 6rem 3rem 1rem 1.5rem;
  font-family: 'Lato';
}

.about-front-disc {
  font-size: 2rem;
  color: #ec5242;
  text-align: center;
  padding: 2rem;
}

.about-front-heading {
  font-size: 3rem;
  color: #ec5242;
  font-weight: 700;
}

.about-front-disc2 {
  margin-top: 2rem;
  border: 1px solid rgb(230, 228, 228);
  background: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.about-front-contact {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}

.front-contact {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 30%;
  color: #000;
  border-bottom: 1px solid #000;
}
