html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.home {
  background: url("./img/png-transparent-simple-white-honeycomb-pattern-background-white-polygon-honeycomb-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  padding: 1rem;
  position: fixed;
}

.nav i {
  font-size: 3rem;
  color: #272a31;
  padding: 1rem;
}

.home-body {
  padding: 6rem 3rem 1rem 1.5rem;
  font-family: 'Lato';
}

.body-disc {
  font-size: 2rem;
  color: #ec5242;
}

.home-heading {
  font-size: 3rem;
  color: #ec5242;
  font-weight: 700;
}

.body-disc2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border: 1px solid #fff;
  padding: 1.5rem;
  background: rgb(243, 241, 241);
}

.heading2 {
  font-size: 2.7rem;
  padding-top: 2rem;
  color: #ec5242;
}

.home-footer {
  font-size: 2rem;
  padding: 1rem 1rem 8rem 1rem;
}

.main-program {
  background: #272a31;
  font-family: 'Lato';
}

.program-heading {
  color: #fff;
  padding: 2rem 0 1rem 0;
  font-size: 1.8rem;
  text-align: center;
}

.program-under {
  height: 1px;
  margin: 1rem 48%;
  background-color: #ec5242;
}

.method-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.method-item {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  background: #4a4e52;
}

.method-item i {
  color: #fff;
  font-size: 3rem;
}

.method-item-title {
  color: #ec5242;
  font-size: 1.9rem;
}

.method-item-disc {
  color: #fff;
  font-size: 1.3rem;
}