html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.home {
  background: url("./img/png-transparent-simple-white-honeycomb-pattern-background-white-polygon-honeycomb-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  padding: 1rem;
  position: fixed;
}

.nav i {
  font-size: 3rem;
  color: #272a31;
  padding: 1rem;
}

.home-body {
  padding: 6rem 3rem 1rem 1.5rem;
  font-family: 'Lato';
}

.body-disc {
  font-size: 2rem;
  color: #ec5242;
}

.home-heading {
  font-size: 3rem;
  color: #ec5242;
  font-weight: 700;
}